#title{
    background-color: #ff4c68;
}
#features{
    padding: 7% 15%;
}
#testimonals{
    text-align: center;
}
.row{
    margin-top: 50px;
}
.im{
    margin-top: 200px;
    max-width: 140%;
    max-height: 120%;
}
.peek{
    margin-right: 20px;
}
.meet{
color: white;
font-family: 'Hammersmith One', sans-serif;
margin-bottom: 20px;
}
.container-fluid{
    padding: 3% 15%;
}
.demo{
    max-width: 50%;
    max-height: 50%;
}
.feature-box{
    text-align: center;
}
.icon{
    color: #ef8172;
    margin-bottom: 20px;
}
.icon:hover{
    color: #ff4c68;
}